@model IEnumerable<Application.Dtos.Books.ReservationDto>

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
</head>


<body>
    <div class="container mt-3">
        <h2 class="text-center">رزرو های کاربران</h2>
        <div class="mb-3" dir="rtl">
            <div class="input-group">
                <input type="text" class="form-control" id="searchInput" placeholder="جستجو کنید..." aria-label="جستجو" aria-describedby="searchIcon">
                <span class="input-group-text" id="searchIcon"><i class="fas fa-search"></i></span>
            </div>
        </div>
        <table class="table table-striped" dir="rtl" id="dataTable">
            <thead>
                <tr>
                    <th hidden>  id</th>
                    <th>نام کاربر</th>
                    <th>نام کتاب</th>                                   
                    <th>تاریخ رزرو</th>
                    <th>تاریخ انقضای رزرو</th>                   
                     <th>عملیات</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td hidden>@item.Id</td hidden>
                        <td>@item.UserName</td>
                        <td>@item.BookName</td>
                        <td>@item.ReservationDate</td>
                        <td>@item.ExpirationDate</td>
                        <td hidden>@item.BookId</td>
                        <td hidden>@item.UserId</td>
                       
                        <td>

                           <div class="dropdown">
                                <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                    عملیات
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">


                                  
                                   <li>
                                      <a href="#" class="dropdown-item btn-add-sub" data-id="@item.Id">
                                                         <i class="fas fa-plus"></i> تحویل کتاب به کاربر
                                       </a>
                                   </li>
 
                                    <li>
                                       <a class="dropdown-item btn-show-sub" href="#" data-id="@item.Id">
                                            <i class="fas fa-eye"></i> نمایش زیر مجموعه
                                       </a>
                                    </li> 

                                    <li>
                                                <a class="dropdown-item btn-edit" href="#" data-id="@item.Id">
                                                      <i class="fas fa-edit"></i> ویرایش
                                                </a>
                                    </li>



                                    <li>  <a class="dropdown-item text-danger delete-category" data-id="@item.Id" href="#"> <i class="fas fa-trash"></i> حذف </a> </li>


                                </ul>
                            </div>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"></script>


 <script>
   $(document).ready(function () {
    
    $("#searchInput").on("keyup", function () {
        var input = $(this).val().toLowerCase();
        $("#dataTable tr").each(function (index) {
            if (index === 0) return;
            var found = $(this).text().toLowerCase().includes(input);
            $(this).toggle(found);
        });
    });
 
    $(".btn-add-sub").click(function (e) {
        e.preventDefault();
        var reservId = $(this).data("id");

        $.ajax({
            url: "/Delivery/ReservationDelivery",
            type: "POST",
            data: { id: reservId },
            success: function (response) {
                Swal.fire({
                    title: "موفقیت!",
                    text: response,
                    icon: "success",
                    timer: 2000
                }).then(() => {
                    location.reload();
                });
            },
            error: function (xhr) {
                Swal.fire({
                    title: "خطا!",
                    text: xhr.responseText,
                    icon: "error",
                    confirmButtonText: "متوجه شدم"
                });
            }
        });
    });
});
</script>



</body>

</html>

 